<ion-content [fullscreen]="true" class="ion-padding">
  <!-- Cuadro para ingresar la cantidad -->
  <form #expenseForm="ngForm">
    <div class="input-container">
      <ion-label>Monto de Ingreso</ion-label>
      <ion-input 
        type="number" 
        placeholder="Ingresa la cantidad" 
        [(ngModel)]="Monto_Ingresado" 
        name="cantidad" 
        required 
        min="0"
        #cantidadInput="ngModel"
      ></ion-input>
      <div *ngIf="cantidadInput.invalid && cantidadInput.touched" class="error-message">
        El monto debe ser un número positivo.
      </div>
    </div>

    <!-- Cuadro para la categoría -->
    <div class="category-container">
      <p>Categoría</p>
      <ion-input 
        placeholder="Ingresa la categoría" 
        [(ngModel)]="categoria" 
        name="categoria" 
        required 
        pattern="[A-Za-z]+"
        #categoriaInput="ngModel"
      ></ion-input>
      <div *ngIf="categoriaInput.invalid && categoriaInput.touched" class="error-message">
        La categoría es obligatoria y solo debe contener letras.
      </div>
    </div>

    <!-- Cuadro para la fecha -->
    <div class="date-container">
      <p>Fecha</p>
      <ion-input 
        type="date" 
        [(ngModel)]="fecha" 
        name="fecha" 
        required
        #fechaInput="ngModel"
      ></ion-input>
      <div *ngIf="fechaInput.invalid && fechaInput.touched" class="error-message">
        La fecha es obligatoria.
      </div>
    </div>

    <!-- Cuadro para el comentario -->
    <div class="comment-container">
      <p>Comentario</p>
      <ion-textarea 
        placeholder="Agrega un comentario" 
        [(ngModel)]="comentario" 
        name="comentario" 
        maxlength="250"
        #comentarioInput="ngModel"
      ></ion-textarea>
      <div *ngIf="comentarioInput.invalid && comentarioInput.touched" class="error-message">
        El comentario no puede superar los 250 caracteres.
      </div>
    </div>

      <!-- Cuadro para describir la ubicación -->
      <div class="location-description-container">
        <p>Describe la ubicación</p>
        <ion-textarea 
          placeholder="Describe la ubicación del gasto" 
          [(ngModel)]="Comentario_ubicacion" 
          name="ubicacion" 
          required
          #ubicacionInput="ngModel"
        ></ion-textarea>
        <div *ngIf="ubicacionInput.invalid && ubicacionInput.touched" class="error-message">Comentario de la ubicacion
          es obligatoria.</div>
      </div>

        <!-- Cuadro para la geolocalización -->
    <div class="location-container">
      <p><strong>Ubicación:</strong></p>
      <p *ngIf="isLoading">Cargando ubicación...</p>
      <p *ngIf="!isLoading && geolocalizacion">{{ geolocalizacion }}</p>
      <ion-button expand="full" (click)="getGeolocation()" [disabled]="isLoading">Obtener Geolocalización</ion-button>
    </div>

    <!-- Cuadro para la foto -->
    <div class="photo-container">
      <p><strong>Foto</strong></p>
      <ion-button expand="full" (click)="onProfileImagePressed()">Tomar Foto</ion-button>
      <div *ngIf="imageUrl" class="image-preview">
        <p>Imagen seleccionada:</p>
        <img [src]="imageUrl" alt="Foto del gasto" class="selected-image" />
      </div>
    </div>
  

    <!-- Botón para añadir -->
    <div class="button-container">
      <ion-button expand="full" (click)="addIncome()" [disabled]="!expenseForm.valid">Añadir</ion-button>
    </div>

    <!-- Botón para volver al home -->
    <div class="home-button-container">
      <ion-button expand="full" (click)="goHome()">Volver al Home</ion-button>
    </div>
  </form>
</ion-content>
