<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background-image ion-padding">
  <div class="login-container">
    <h1 class="login-title">Bienvenido de nuevo</h1>

    <ion-item class="custom-item no-border">
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input [(ngModel)]="email" type="email"></ion-input>
    </ion-item>

    <ion-item class="custom-item no-border">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [(ngModel)]="password" type="password"></ion-input>
    </ion-item>

    <ion-button expand="full" color="primary" class="login-button" (click)="onLoginButtonPressed()">Iniciar sesión</ion-button>

    <div class="divider"></div>

    <ion-button expand="full" color="light" class="register-button" (click)="onRegisterButtonPressed()">Registrarse</ion-button>
  </div>
</ion-content>
