.background-image {
  --background: url('../../assets/icon/fondo.png') no-repeat center center / cover;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9); /* Fondo translúcido */
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra suave */
  max-width: 400px;
  margin: auto;
}

.login-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.custom-item {
  --background: transparent;
  margin-bottom: 15px;
  width: 100%;
}

ion-label {
  color: #555; /* Color del texto de la etiqueta */
}

ion-input {
  font-size: 16px;
  color: #333;
}

.login-button {
  --background: #3880ff;
  --border-radius: 5px;
  --padding: 10px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px; /* Espaciado entre botones */
}

.login-button:hover {
  --background: #4a90e2;
}

.register-button {
  --color: #3880ff; /* Color del texto del botón de registro */
  --padding: 10px;
  font-size: 16px;
  text-transform: none;
  font-weight: 500;
}

.register-button:hover {
  --color: #4a90e2; /* Color del texto al pasar el mouse */
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
  margin: 20px 0; /* Margen arriba y abajo del divisor */
}
