.splash-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  ion-img {
    width: 200px; /* Ajusta el tamaño de la imagen */
    height: auto;
  }
  
  ion-progress-bar {
    --progress-background: rgba(255, 255, 255, 0.849); /* Fondo de la barra de progreso */
    --progress-bar-background: rgba(248, 11, 11, 0.849); /* Color blanco para la barra de progreso */
    height: 20px; /* Ajusta la altura si lo deseas */
  } 
  