#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
/* Imagen de fondo */
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/icon/fondo.png');
  background-size: cover;
  background-position: center;
  z-index: -1; /* Mantén la imagen detrás del contenido */
  opacity: 0.7; /* Opcional: puedes ajustar la opacidad si la imagen es muy intensa */
}
ion-title {
  margin-top: -260px; /* Ajusta este valor según lo que necesites */
  font-size: 1.5rem; /* Cambia el tamaño de la fuente si es necesario */
  text-align: center; /* Centrar el texto */
  font-weight: bold; /* Poner el texto en negrita */
}
ion-chip {
  margin-top: -30px; /* Ajusta este valor para mover el chip (avatar y nombre de usuario) hacia abajo */
  display: flex;
  align-items: center;
}
.sub-titulo {
  margin-top: -200px; /* Ajusta este valor para darle más espacio entre el título principal y el subtítulo */
  font-size: 1.2rem; /* Ajusta el tamaño de fuente si es necesario */
  text-align: center; /* Centra el texto como el título principal */
  font-weight: normal; /* Si quieres que sea más ligero que el título principal */
}
.red-container {
  background-color: red;
  width: 150px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 160px; /* Ajusta este valor para bajarlo más */
  margin-left: auto;
  margin-right: auto;
}
.button-container {
  display: flex;
  justify-content: center;
  gap: 70px; /* Espacio entre los botones */
  margin-top: 20px; /* Espacio superior */
}

.circle-button {
  --border-radius: 40%; /* Hace que el botón sea redondo */
  --width: 60px; /* Ancho del botón */
  --height: 60px; /* Alto del botón */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem; /* Tamaño de la fuente */
  --background: #0423cf; /* Color del botón (puedes cambiarlo) */
  color: white; /* Color del texto */
  margin-top: 190px; 
}