.background-image {
  --background: url('../../assets/icon/fondo.png') no-repeat center center / cover;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
  min-height: 100vh; /* Asegura que ocupe toda la altura de la pantalla */
  background: rgba(255, 255, 255, 0.8); /* Fondo translúcido */
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra suave */
  max-width: 400px;
  margin: auto;
}

.login-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.custom-item {
  --background: transparent;
  margin-bottom: 15px;
  width: 100%;
}

ion-input {
  font-size: 16px;
  color: #555;
}

.login-button {
  --background: #3880ff;
  --border-radius: 5px;
  --padding-start: 16px;
  --padding-end: 16px;
  --padding-top: 10px;
  --padding-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
}

.login-button:hover {
  --background: #4a90e2;
}
