ion-content {
  --ion-background-color:black ;
  --ion-color-primary:green;
  --ion-text-color:white;
  --ion-item-background:rgb(13, 74, 45);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
ion-img {
  width: 50%; /* Ajusta el porcentaje según lo necesario */
  max-width: 200px; /* Ajusta el ancho máximo según sea necesario */
  height: 35vh; /* Asegura que ocupe toda la pantalla */
  object-fit: contain; /* Asegura que la imagen se ajuste dentro del contenedor */
  display: block; /* Asegura que la imagen se comporte como un bloque */
  margin: 0 auto; /* Centra la imagen si es necesario */
}




.content-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Empuja el contenido hacia abajo */
  height: 20vh; /* Asegura que ocupe toda la pantalla */
  padding: 20px;
  box-sizing: border-box; /* Para incluir el padding dentro del tamaño total */
  background-color: black; /* Fondo negro */
  color: white; /* Color del texto */

 
}
.button-container{
  text-align: center;
  margin-bottom: 20px;
  

}
ion-list{
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Empuja el contenido hacia abajo */
  height: 20vh; /* Asegura que ocupe toda la pantalla */
  padding: 20px;
  box-sizing: border-box; /* Para incluir el padding dentro del tamaño total */
  background-color: black; /* Fondo negro */
  color: white; /* Color del texto */
  

}
.button-container {
  margin: 0; /* Remueve el margen superior e inferior del contenedor */
  padding: 0; /* Si hay padding, también lo eliminamos */
}

.button-container ion-button {
  margin: 10px 0; /* Ajusta el margen superior e inferior del botón */
  padding: 5px 15px; /* Ajusta el padding del botón si es necesario */
}
