<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registrarse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background-image">
  <div class="login-container">
    <div class="login-title">Crea una cuenta</div>
    <ion-item class="custom-item">
      <ion-input placeholder="Correo electrónico" type="email" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item class="custom-item">
      <ion-input placeholder="Contraseña" type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <ion-button expand="block" class="login-button" (click)="onRegisterButtonPressed()">Registrarse</ion-button>
    <ion-button fill="clear" class="back-to-login-button" (click)="onBackToLogin()">¿Ya tienes una cuenta? Iniciar sesión</ion-button>
  </div>
</ion-content>
